html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Now-Regular;
  display: block;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

div {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: Now-Regular;
  src: url(./fonts/Now-Regular.otf);
}
@font-face {
  font-family: Now-Bold;
  src: url(./fonts/Now-Bold.otf);
}
@font-face {
  font-family: Now-Light;
  src: url(./fonts/Now-Light.otf);
}
@font-face {
  font-family: Now-Black;
  src: url(./fonts/Now-Black.otf);
}
@font-face {
  font-family: Now-Medium;
  src: url(./fonts/Now-Medium.otf);
}

#home,
#about-us,
#offer,
#online,
#teachers,
#gallery,
#prices,
#opinions,
#contact {
  height: 100vh;
}

.left-panel {
  height: 100vh;
  width: 14.8vw;
  padding-left: 5.2vw;
  background: #ffbf0a;
  position: fixed;
  z-index: 1;
  color: rgb(56, 56, 56);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 91vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 60.5%;
}

.logo-city {
  position: absolute;
  top: 9.5%;
  color: #383838;
  left: 37%;
  font-size: 1.025vw;
  letter-spacing: 0.05vw;
  font-family: Now-Bold;
}

object {
  pointer-events: none;
}
.navitem {
  padding-bottom: 2%;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.175vw;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0.15vw;
}

.navitem-1 {
  padding-bottom: 2vh;
  height: 10%;
}

.select-language {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5.2vw;
  text-align: center;
  font-size: 0.94vw;
  line-height: 2.3vw;
  font-family: "Now-Bold";
  letter-spacing: 2px;
}

.en {
  opacity: 0.35;
}

.contact {
  height: 12vh;
  flex-direction: column;
  font-size: 1.175vw;
}

.phone {
  font-size: 1.025vw;
  display: flex;
  align-items: center;
}

.phone-icon {
  height: 20px;
  width: 9%;
}

.tel-number {
  font-family: "Now-Regular";
  letter-spacing: 0.1vw;
  padding-top: 0.7%;
}

.social-box {
  padding-top: 7%;
  width: 75%;
  height: auto;
  position: relative;
}

.fb-link {
  width: 15%;
  position: absolute;
}

.msg-link {
  width: 15%;
  position: absolute;
  left: 23%;
}

.insta-link {
  width: 15%;
  position: absolute;
  left: 48%;
}

.sm-icon {
  height: 20px;
  width: 78%;
}

.right-panel {
  height: 100%;
  width: 80%;
  position: absolute;
  left: 20%;
}

.video-bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.7vw;
  letter-spacing: 0.1vw;
  color: #fff;
  width: 70%;
  font-family: Now-Bold;
  z-index: 2;
  text-align: center;
}

.primary-home-text {
  margin: 0;
  padding: 0;
  font-size: 4.2vw;
  line-height: 1;
  letter-spacing: 0.3vw;
  font-family: "Now-Black";
}

.secondary-home-text {
  margin: 0;
  padding: 0;
  font-size: 1.7vw;
}

.video-button {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  position: relative;
  left: 10%;
  align-items: center;
}

.video-btn {
  width: 90px;
  height: 49px;
  max-width: 100%;
}

.video-text {
  margin-top: 10px;
}

.right-side {
  height: 100%;
  width: 80%;
  position: relative;
  left: 20%;
}

.subjects {
  width: 87.5%;
  height: 35%;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  background: url(./images/kropki.png) no-repeat top right;
  background-position-y: 60px;
  font-family: Now-Bold;
}

.subjects-col-1 {
  width: 16.7%;
  height: 100%;
  background-color: #17e7c6;
}

.subjects-topics-text {
  margin: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-align: left;
  line-height: 1.625;
  font-size: 1.175vw;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b3b3b;
}

.subjects-col-2 {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dot {
  border-radius: 50%;
  background-color: #071566;
  width: 9px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
}

.dot-big {
  border-radius: 50%;
  background-color: #071566;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 0 10px 0 4px;
  vertical-align: middle;
}

.sub {
  margin: 0;
  font-size: 1.025vw;
  letter-spacing: 2px;
  padding-right: 2%;
  text-align: left;
  padding-left: 3.6vw;
  padding-bottom: 1em;
  padding-top: 1em;
}

.sub:hover {
  text-decoration: underline;
}

.subjects-col-3 {
  background-color: #17e7c6;
  width: 16.7%;
  height: 100%;
}

.subjects-col-4 {
  width: 50.3%;
  background: url(./images/globus.png) no-repeat top right 20px;
  background-position-y: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-table {
  width: 75%;
  height: 52%;
  right: 0;
  bottom: 35%;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 1.025vw;
  color: #383838;
  background-color: #ffbf0a;
  line-height: 1.714;
  letter-spacing: 0.05vw;
  padding-bottom: 2.8%;
  padding-top: 1%;
}

.table-img {
  width: 27.5%;
}

.o-nas {
  width: 12.5%;
  height: 52%;
  bottom: 35%;
  right: 75%;
  position: absolute;
  display: flex;
}

.o-nas-text {
  margin: 0;
  transform: rotate(180deg);
  font-size: 7vw;
  color: #efefef;
  justify-content: center;
  align-items: center;
  display: flex;
  writing-mode: vertical-rl;
  width: 100%;
  height: 100%;
  font-family: Now-Black;
}

.elem {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.about-elem-1 {
  top: 6.3%;
  right: 37.5%;
}

.about-elem-3 {
  top: 14.5%;
  left: 7.8%;
}

.about-elem-4 {
  right: 1%;
  bottom: 30%;
}

.about-elem-5 {
  top: 5%;
  left: 30.4%;
}

.about-elem-6 {
  top: 4%;
  right: 5%;
}

.about-elem-8 {
  bottom: 27%;
  left: 5%;
  transform: rotate(95deg);
}

.offer-title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-size: 7vw;
  color: #efefef;
  letter-spacing: 20px;
  font-family: "Now-Black";
}

.offer-subtitle {
  margin: 0;
  text-align: center;
  font-size: 1vw;
  position: absolute;
  top: 35%;
  width: 100%;
  letter-spacing: 0.1vw;
  font-family: Now-Bold;
  font-size: 1.025vw;
}

.offer-col-1 {
  background-color: #f8f8f8;
  width: 30%;
  height: 50%;
  position: absolute;
  left: 5%;
  top: 40%;
}

.offer-col-2 {
  background-color: #efefef;
  width: 30%;
  height: 50%;
  position: absolute;
  left: 35%;
  top: 40%;
}

.offer-col-3 {
  background: #f8f8f8;
  width: 30%;
  height: 50%;
  position: absolute;
  left: 65%;
  top: 40%;
}

.header {
  background: #ffbf0a;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1vw;
  font-family: Now-Bold;
  font-size: 1.025vw;
}

.col-text {
  box-sizing: border-box;
  font-size: 1vw;
  line-height: 1.625;
  vertical-align: middle;
  padding: 12% 8% 0% 8%;
  display: flex;
  flex-direction: column;
  height: 80%;
  letter-spacing: 0.1vw;
  font-family: Now-Bold;
  font-size: 1.025vw;
}

.offer-link {
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  height: 23.5%;
}

.offer-link::before,
#online li::before {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #071566;
  position: absolute;
  left: 0;
  top: 10px;
}

.offer-link::after,
#online li::after {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #071566;
  position: absolute;
  left: 13px;
  top: 8px;
}

.arrow {
  background: #071566 url(./images/arrow-white.png) no-repeat center;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.offer-elem-5 {
  top: 30%;
  left: 25%;
}

.offer-elem-6 {
  bottom: 2%;
  right: 4%;
}

.offer-elem-9 {
  bottom: 3%;
  left: 10%;
}

.offer-elem-10 {
  top: 19%;
  left: 16%;
}

.offer-elem-11 {
  top: 18%;
  right: 15%;
}

.online-header-1 {
  margin: 0;
  padding: 0;
  font-size: 7vw;
  color: #efefef;
  position: absolute;
  font-family: Now-Black;
  letter-spacing: 1.5vw;
  top: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.online-header-2 {
  margin: 0;
  padding: 0;
  font-size: 2.7vw;
  color: #ffbf0a;
  position: absolute;
  font-family: Now-Black;
  letter-spacing: 0.4vw;
  left: -0.8%;
  top: 10%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.online-left {
  width: 29%;
  padding-left: 5%;
  line-height: 1.714;
  font-size: min(1.025vw, 130%, 1.9vh);
  position: absolute;
  bottom: 10%;
  letter-spacing: 0.1vw;
  font-family: Now-Medium;
}

#online ul {
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  width: 82%;
}

#online li {
  padding-left: 40px;
  position: relative;
}

.online-link {
  text-decoration: none;
  color: #3b3b3b;
  position: relative;
  padding-right: 45px;
  display: inline-block;
  margin-bottom: 3vw;
  font-family: Now-Bold;
}

.online-link::after {
  background: #071566 url(./images/arrow-white.png) no-repeat center;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
}

.online-film {
  text-decoration: none;
  color: #3b3b3b;
  padding-left: 70px;
  position: relative;
  font-family: Now-Bold;
}

.online-film::after {
  background: url(./images/video-btn.png) no-repeat left center;
  background-size: contain;
  display: block;
  width: 58px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
}

.online-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 55%;
  max-width: 860px;
  position: absolute;
  right: 3%;
  bottom: 0;
}

.gallery-container {
  width: 100%;
  background: url(./images/online-gallery.png) no-repeat center;
  background-size: 100%;
  padding-right: 11.2%;
  padding-top: 13%;
  padding-left: 11.6%;
  padding-bottom: 16%;
}

#online button {
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #071566 url(./images/arrow-white.png) no-repeat center;
}

.slick-prev {
  left: 6.7%;
  transform: rotate(180deg);
}

.slick-next {
  right: 6%;
}

.gallery-photo {
  width: 100%;
}

.online-elem-9 {
  top: 4%;
  left: 7%;
}

.online-elem-5 {
  top: 13%;
  right: 7%;
}

.online-elem-10 {
  top: 52%;
  left: 34%;
  transform: rotate(121deg);
}

.online-elem-12 {
  bottom: 12%;
  left: 30%;
}

.teachers-left {
  left: 0;
  bottom: 0;
  width: 46.2%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 30vh;
  position: absolute;
  padding-left: 3.8%;
}

.teachers-header-1 {
  margin: 0;
  width: 100%;
  font-size: 6vw;
  line-height: 6vw;
  font-family: Now-Black;
  letter-spacing: 1.5vw;
  color: #efefef;
  position: absolute;
  left: 0;
  top: 10vh;
  display: flex;
  justify-content: center;
}

.teachers-header-2 {
  margin: 0;
  width: 100%;
  font-size: 2.7vw;
  line-height: 6vw;
  font-family: Now-Black;
  color: #ffbf0a;
  position: absolute;
  letter-spacing: 0.4vw;
  left: -0.8%;
  top: 10vh;
  display: flex;
  justify-content: center;
}

#teachers p {
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 1.025vw;
  color: #3b3b3b;
  text-align: left;
  letter-spacing: 0.1vw;
  font-family: Now-Medium;
  padding-right: 10%;
  line-height: 1.714;
}

.left-bottom {
  height: 37.4%;
  width: 100%;
  padding-top: 10%;
  display: flex;
}

.left-bottom-l-text {
  margin: 0;
  font-size: 1.2vw;
  color: #3b3b3b;
  line-height: 1.5;
  letter-spacing: 0.1vw;
  font-family: Now-Bold;
}

.left-bottom-r-text {
  left: 50%;
  position: absolute;
  cursor: pointer;
  font-size: 1.175vw;
  color: #3b3b3b;
  line-height: 1.625;
  text-align: left;
  letter-spacing: 0.1vw;
  margin-left: 25px;
  font-family: Now-Medium;
}

.teachers-text-bold {
  color: #071566;
  font-family: Now-Bold;
}

.teachers-text-bold::before {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #071566;
  position: absolute;
  left: -35px;
  top: 12px;
}

.teachers-text-bold::after {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #071566;
  position: absolute;
  left: -22px;
  top: 10px;
}

.teachers-right {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0% center;
}

.teachers-right-1 {
  background-color: #ffbf0a;
  background-image: url(./images/teachers-bg4.png);
  background-size: 200% 100%;
}

.teachers-right-2 {
  background-image: url(./images/teachers-bg1.png);
  background-size: auto 100%;
}

.teachers-elem-12 {
  bottom: 4%;
  left: 36%;
}

.teachers-elem-1 {
  bottom: 9%;
  left: 7%;
}

.teachers-elem-7 {
  top: 21%;
  left: 35%;
}

.teachers-elem-13 {
  top: 13%;
  left: 3%;
  transform: rotate(-45deg);
}

.gallery-left {
  height: 100%;
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.gallery-text {
  margin: 0;
  padding: 0;
  font-size: 1.175vw;
  font-family: Now-Medium;
  font-weight: normal;
  color: #3b3b3b;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  padding: 20vh 11% 0.65vh 11%;
}

.gallery-button {
  margin: 40px 0 0 11%;
  padding: 0 11% 0 70px;
  position: relative;
  display: flex;
  height: 40px;
  text-decoration: none;
  color: #3b3b3b;
  font-family: Now-Bold;
  letter-spacing: 0.1vw;
  font-size: 1.05vw;
  cursor: pointer;
  justify-content: left;
  align-items: center;
}

.gallery-button::before {
  background: url(./images/video-btn.png) no-repeat left center;
  background-size: contain;
  display: block;
  width: 62px;
  height: 37px;
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
}

.gallery-right-box {
  width: 75%;
  height: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-nav-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 20%;
}

.gallery-left-button {
  position: absolute;
  left: 0;
  height: 100%;
  width: 37px;
  user-select: none;
  cursor: pointer;
  background: #071566 url(./images/arrow-white.png) no-repeat center;
  transform: rotate(180deg);
}

.gallery-right-button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 37px;
  user-select: none;
  cursor: pointer;
  background: #071566 url(./images/arrow-white.png) no-repeat center;
}

.slick-slider {
  width: calc(100% - 74px);
  height: 100%;
  display: flex;
  margin-left: 37px;
  overflow: hidden;
}

.slick-track {
  padding-left: 50px;
  transform: translateX(-16.635vw);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.gallery-nav-item {
  width: 16.635vw;
  height: 100%;
}

.gallery-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-elem-11 {
  top: 2%;
  left: 15%;
}

.gallery-elem-4 {
  bottom: 41%;
  left: 18%;
  transform: rotate(135deg);
}

.gallery-elem-1 {
  bottom: 8%;
  left: 5%;
}

.gallery-elem-9 {
  bottom: 3%;
  left: 16%;
}
